
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #2b7;
  font-weight: bold; 
}

a:hover{
  color: #b15;
  transition: 0.1s all ease-in-out;
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height:100%;
  height: 100%;
  line-height: 1.5em;
  padding: 1em;
  color: #ddd;
  background-color: blue;  
  display: flex;
  flex-direction: column;
}


html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

button, 
input{
  font-size: 1em;
  padding: 0.5em 1em;
}

#messagecontainer{
  margin: 10px;
  height: 100px;
  width: 48%;
}

#messages{
  margin: 0.5em 0.5em;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  background-color: #eee;
  box-shadow: 0 0 1em rgba(0,0,0,0.3);
  width: 20em;
  color: #444;
}

#video-chat-container{
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  justify-content: space-between;
}

#local-video{
  margin: 10px;
  border: 1px;
  width: 48%;
  height: 60vh;
  background-color: black;
}

#remote-video{
  margin: 10px;
  border: 1px;
  width: 48%;
  height: 60vh;
  background-color: black;
}

#filesection{
  margin: 10px;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: monospace;
  font-size: 1.5rem;
}

#editor-container {
  position: relative;
  width: 100%;
  flex: 1 1;
  min-height: 50px;
}


